
manifest {
	homePage = 'https://github.com/dhineshp565/Flye_ANI'
    	description = 'Pipeline for determining Whole genome assembly and Average Nucleotide Identity (ANI)'
	author= 'dhineshp565'
   	mainScript = 'main.nf'
    	version = '1.0.0'
	nextflowVersion= '>=22.12.0-edge'
	manifest.defaultBranch = "main"
	name = 'Flye_ANI'
}
params {
    	input='./SampleList.csv'
    	outdir='Results'
    	gsize=' '
	trim_barcodes=null
	reference='sample.fasta'
}


profiles {
	conda {
        	includeConfig 'config/conda.config'
		conda.enabled=true
}
	docker {
		includeConfig 'config/docker.config'
		docker.enabled=true
}
}


process {
	withLabel:low {
		cpus= 2
	 	memory= 4.GB
	 	time= 2.h
	 }
	 withLabel:medium {
	 	cpus=4
	 	memory= 8.GB
		time= 4.h
	 }
	 withLabel:high {
	 	cpus=10
	 	memory=32.GB
	 	time= 8.h
	 }
}
