

params {
    input='./SampleList.csv'
    outdir='Results'
    gsize=' '
	trim_barcodes=null
	reference='sample.fasta'

}


profiles {
    conda {
        includeConfig 'config/conda.config'
	conda.enabled=true
    }
	docker {
		includeConfig 'config/docker.config'
		docker.enabled=true
	}
}


process {
	withLabel:low {
		cpus= 2
	 	memory= 4.GB
	 	time= 2.h
	 }
	 withLabel:medium {
	 	cpus=4
	 	memory= 8.GB
		time= 4.h
	 }
	 withLabel:high {
	 	cpus=10
	 	memory=32.GB
	 	time= 8.h
	 }
}