process {
  withName:porechop {
    container = "quay.io/biocontainers/porechop:0.2.4--py39h1f90b4d_6"
}
 withName:dragonflye {
    container = "quay.io/biocontainers/dragonflye:1.1.1--hdfd78af_0"
 }
 withName:fastANI {
    container ="quay.io/biocontainers/fastani:1.34--h4dfc31f_0"
 }
 withName:aniclustermap {
    container="quay.io/biocontainers/aniclustermap:1.2.0--pyhdfd78af_0"
 }
}